* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a3a3a3;
}

html {
  font-size: 2vw;
}

/* width */
::-webkit-scrollbar {
  width: .8vw;
  margin-left: 5px;
  height: .8vw;
  border-radius: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.myBody {
  padding: 2% 0;
}

html {
  scroll-behavior: smooth;
}

hr {
  margin: 20px 0;
}

/* -------------================navbar class==================------------ */
.navbar--mainContainer {
  display: flex;
  justify-content: center;
  padding: 1.1% 0%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #d1d1d1;
  width: 100%;
  position: fixed;
  height: 5%;
  overflow-y: auto;
}

.navbar--myName {
  width: 50%;
  margin: 0.2% auto;
  margin-left: 2%;
  font-size: 2vw;
  font-weight: 900;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.navbar--myName div {
  display: inline;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 2%;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
  /* box-shadow: rgba(50, 50, 93, 0.9) 0px 0px 0px -0px,
    rgba(0, 0, 0, 0.9) 0px 0px 0px -30px,
    rgba(10, 37, 64, 0.9) 0px -2px 6px 0px inset; */
}

.navbar--contents {
  width: 50%;
  display: flex;
}

.navbar--contents a {
  display: flex;
  width: 20%;
  margin: auto;
  padding: 0.7%;
  padding-bottom: 0.9%;
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 600;
  border-radius: 10px;
  justify-content: center;
  background-color: #e0e0e0;
  font-size: 1.2vw;
  font-weight: bold;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ---------------============about me section (second section)================----------- */

.about--mainContainer {
  padding: 5%;
}

.about--secondContainer {
  background-color: #d1d1d1;
  border-radius: 1%;
  padding: 5vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.about--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about--center h3 {
  font-size: 2vw;
  font-weight: 600;
  margin: 1% 0;
}

.about--center h1 {
  font-size: 4vw;
  margin: 0 0 1%;
}

.about--thirdContainer {
  display: flex;
}

.about--thirdContainer h4 {
  font-size: 2.7vw;
  margin-bottom: 1.8%;
}

.about--thirdContainer p {
  font-size: 1.9vw;
  margin-right: 10px;
}

.about--thirdContainer img {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 1%;
}

.summeryDiv--container {
  height: 70%;
}

.bg-white {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0 5%;
  padding-top: 10px;
  height: fit-content;
  margin-bottom: 3vw;
  padding-bottom: 10px;
}

/* ----------==============projects============------------- */

.projects--mainContainer {
  margin: 0 3%;
  background-color: #757575;
  border-radius: 1%;
  padding: 0.5% 0;
  font-size: 1.8vw;
  align-items: center;
  align-content: center;
}

.projects--secondContainer {
  margin: 2% auto;
  display: flex;
  justify-content: center;
  max-width: 90%;
  border: 3px solid rgb(201, 201, 201);
  border-radius: 10px;
  background-color: #d1d1d1;
  padding: 2% 2%;
  align-items: center;
}

.projects--secondContainer div {
  width: 74%;
}

.projects--secondContainer div h1 {
  margin: 1vw;
  margin-left: 0;
  text-transform: capitalize;
}

.projects--secondContainer div p {
  align-items: center;
  margin: 1vw;
  text-align: center;
  font-size: smaller;
}
.projects--secondContainer img {
  max-width: 24%;
  max-height: 20vw;
  border-radius: 4px;
  margin-left: auto;
}

.bold {
  font-weight: bold;
  font-size: 0.8em;
}

.projects--secondContainer div {
  max-width: 75%;
}

/* ----------==============cirtif============------------- */

#section3 .bg-white {
  margin-bottom: 1vw;
}

#section3 {
  background-color: #cfcfcf;
  width: 90vw;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1% 0;
  border-radius: 20px 20px 0 0;
}

.firstContainer--cirtif {
  padding: 10px;
  display: flex;
  align-items: center;
  /* background-color: #0f0f0f; */
  overflow-x: auto;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.secondContainer--cirtif {
  border: 0.2em solid #555;
  border-radius: 20px;
  padding: 3% 2%;
  background-color: aliceblue;
  margin: auto .8%;
  width: fit-content;
  max-height: 50vh;
  display: flex;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.secondContainer--cirtif div {
  padding: 2vw;
}
.secondContainer--cirtif img {
  /* height: 30vh; */
  width: 20vw;
}
.secondContainer--cirtif p {
  width: 40vw;
  font-size: 1.4vw;
  line-height: 2vw;
}

.secondContainer--cirtif h1 {
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2vh;
}

.myLinkBold {
  font-weight: bold;
}

/* ----------==============footer============------------- */

.mainFooter--container {
  width: 100%;
  background-color: #1f1f1f;
  box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-top: 0px;
}

.mainFooter--container h1 {
  color: #e0e0e0;
  font-size: 1vw;
  margin: 1%;
  margin-right: 5%;
  margin-left: auto;
}
